$color: deeppink;
$color-light: lighten($color, 40%);
$color-dark: darken($color, 15%);
$size: 10px;

.Header {
  border: $size solid $color;
  background-color: $color-light;
  &--title {
    color: $color-dark;
  }
}