@import "week3-base.css";

.link {
  font-size: 2em;
  color: darkgoldenrod;
  text-decoration: none;
}

.link:link {
  color: darkmagenta;
}

.link:visited {
  color: greenyellow;
}

.link:hover {
  color: palevioletred;
  text-decoration: underline;
}

.link:active {
  color: hotpink;
}

.active {
  font-size: 20em;
}

.note:hover {
  background-color: dodgerblue;
  color: white;
}

.note:hover code {
  background-color: aqua;
  color: black;
}

.input {
  border: 2px solid black;
  padding: .5em 1em;
  border-radius: 4px;
  font-size: 2em;
}

.input:focus {
  border-color: hotpink;
  outline: none;
  width: 100%;
}

.quote {
  margin: 0;
  font-size: 1.5em;
  color: darkturquoise;
}
.quote p::before,
.quote p::after {
  color: hotpink;
}

.quote p::before {
  content: "\201C";
}

.quote p::after {
  content: "\201D";
}

/* https://practicaltypography.com/straight-and-curly-quotes.html */
/*
 “ - \201C
 ” - \201D
*/

/* http://www.evotech.net/articles/testjsentities.html */