body {
  margin: 0;
  font: 16px arial;
  background-color: #c0c0c0;
}

.wrapper {
  padding: 1em;
  background-color: #fff;
}

.wrapper h1 {
  margin: 0;
}

code {
  background-color: hotpink;
  padding: 2px 7px;
  border-radius: 4px;
  color: white;
}

.note {
  border: 1px solid black;
  padding: 1em;
  border-radius: 4px;
}