* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font: 16px arial;
}

.promo {
  border: 1px solid black;
}

.promo h1 {
  margin: 0;
}

.promo .img {
  border: 10px solid black;
  background: repeating-linear-gradient(
    45deg,
    lightgray,
    lightgray 10px,
    darkgray 10px,
    darkgray 20px
  );
  padding: 20px;
}

.promo button {
  font-size: 1em;
  border: 2px solid yellowgreen;
  background-color: yellowgreen;
  padding: 0.5em 1em;
}
